_*
.vscode*
.pytest*

venv/
outputs/
outputs*/
reports/
output_example_study/
Gradient_boost/outputs

dapta_inputs.json
ProjectSettings.json
PythonSettings.json
slnx.sqlite
*.log
*.odb
*.stt
*.rpy
*.f
*.vsidx
*.wsuo
!_slsqp_py.py